<form #formularz="ngForm" (ngSubmit)="onSubmit()">
    <div>
        <label for="nazwa">Nazwa</label>
        <input required="" type="text" name="nazwa" [(ngModel)]="nazwa" />
    </div>
    <div>
        <label for="cena">Cena</label>
        <input required type="number" name="cena" [(ngModel)]="cena" />
    </div>
    <div>
        <label for="data">Data ważności</label>
        <input required type="date" name="data" [(ngModel)]="data" />
    </div>
    <input type="submit" [disabled]="formularz.invalid" value="Zapisz" />
</form>